[keys] 
consumer_key = 9tNKxDAVBSug6xmEgTxsGNMc1
consumer_secret = iMchjue8oC6I53NGPc1eF5CK1KEuj6dvkYZ4lDqRdWiwTpz76N
access_token = 1121188546318962690-Cv7WtRKGNQ9qj9RKY3OiAqiDwJf5S4
access_token_secret = mRSfjzJR2yhHrdZzK3uT491VEGl1s6OhsjN1WuWgkT6Gq 

[s3]
twitter_bucket = ENTER-BUCKET-NAME

[firehose]
deliverystream_name = ENTER-FIREHOUSE-STREAM-NAME

[dynamodb]
twitter_table = rekognitionTable
